.country{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.card-container{
    height: 120px;
    width: 250px;
}
.visited-country{
    background-color: rgb(245, 226, 212);
}